<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13787096958-k6hsk4s6tnro6un64m1oi7a6sm433qs0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13787096958-k6hsk4s6tnro6un64m1oi7a6sm433qs0</string>
	<key>API_KEY</key>
	<string>AIzaSyCsNDPCL4rg8t3NVZ_KdOh3xHZG3Mx_bK4</string>
	<key>GCM_SENDER_ID</key>
	<string>13787096958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>halo-dek.virest</string>
	<key>PROJECT_ID</key>
	<string>virest-de218</string>
	<key>STORAGE_BUCKET</key>
	<string>virest-de218.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13787096958:ios:62714bcd894c33cadb752f</string>
</dict>
</plist>